# Datos y Modelos
data/archive

data/raw/*
!data/raw/.gitkeep

data/silver/*
!data/silver/.gitkeep

data/gold/*
!data/gold/.gitkeep

artifacts/*
!artifacts/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
.env
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Logs y outputs
reports/figures/*
!reports/figures/.gitkeep

*.log
outputs/
results/

# Visualization
src/visualization/archive/*
src/visualization/plot_kde_imputation.py